<h3 class="checkouts-header"><%= t('.header') %></h3>

<ul class="checkouts">
  <% @checkouts.each do |checkout| %>
    <li>
      <%= checkout.book.title %>,
      <%= checkout.book.author %>
      <%= link_to t('.return_link'), book_checkout_path(checkout.book, current_user), method: :delete %>
    </li>
  <% end %>
</ul>
