<h1> Update this book's information </h1>

<%= simple_form_for @book do |form| %>
  <%= form.input :title, label: t('simple_form.labels.title') %>
  <%= form.input :author, label: t('simple_form.labels.author') %>
  <%= form.submit 'Save changes'%>
<% end %>
